[Unit]
Description=Automatic USB Barcode Scanner Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/var/www/html/abhimanyu/barcode_scanner_clean
ExecStart=/usr/bin/python3 /var/www/html/abhimanyu/barcode_scanner_clean/src/usb_auto_scanner.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target